.header {
    background-color: #0000002a;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.8rem;

    backdrop-filter: blur(5px);
}

.header-logo {
    height: 2rem;
}

.nav-list {
    display: flex;
    gap: 2.5rem;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list li:hover a {
    color: #007BFF;
}

#blog-btn {
    color: black;
    background-color: #C5DCFF;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    position: relative;
    padding-right: 2.5rem;
    font-weight: 600;
}

.blog-btn-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 1.5rem;
    transition: all 0.4s;
}

#blog-btn:hover .blog-btn-icon {
    transform: rotateZ(-45deg);
    transition: all 0.4s;
}